@mixin light(){
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
}

@mixin regular(){
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

@mixin semibold(){
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

@mixin bold(){
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

@mixin gradient() {
  background: linear-gradient(113deg, #8eb574, #709c54);
}
